PORT=3000
JWT_SECRET=
DATABASE_URL=postgresql://{{username}}:{{password}}@{{host}}:{{port}}/tournament_manager
DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=true
DATABASE_POOL_MAX=10
DATABASE_CONNECTION_TIMEOUT_MS=10000
DATABASE_IDLE_TIMEOUT_MS=10000
PERFORMANCE_LOGGING=false
